@import 'variables';
@import 'block/footer';
@import 'block/header';
@import 'block/hero';

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;

}

.navbar {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &__logo {
    padding: 15px 0;
  }
}
.right-nav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  li {
    padding: 18px 10px;
  }

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    background-color: #0D2538;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    ;
    &.is-active {
      transform: translateX(0);
    }
    li {
      color: #fff;
    }
  }
}
.burger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background-color: #ccc;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;

    &:nth-child(2) {
      opacity: 0;
    }

  }
  &.is-active {
    div {
     background: #333;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 1;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}